:root {
  --textColor: #48555B;
  --accent-color: #00A4E5;
  --white-color: #FFF;
}

/* @font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue'),
    url('../fonts/BebasNeue-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open sans';
  src: local('Open sans'),
    url('../fonts/OpenSans-VariableFont_wdth_wght.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open sans';
  src: local('Open sans'),
    url('../fonts/OpenSans-VariableFont_wdth_wght.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open sans';
  src: local('Open sans'),
    url('../fonts/OpenSans-VariableFont_wdth_wght.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open sans', sans-serif;
  src: local('Open sans'),
    url('../fonts/OpenSans-VariableFont_wdth_wght.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
} */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: var(--textColor);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  color: var(--textColor);
  width: 1440px;
  border: 2px solid var(--accent-color);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.inner-wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.text {
  font-size: 16px;
  color: var(--textColor);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.188px;
}

.text-small {
  color: var(--textColor);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.2px;
}

.btn {
  color: var(--btnColor);
}

.header {
  min-height: 766px;
  background: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__container {}

.header__logo {
  margin: 0 auto 329px;
  width: 101.618px;
  height: 23px;
  padding-top: 39px;
}

.logo {}

.header__title {
  min-width: 576px;
  color: var(--white-color);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5.709px;
}

.header__subtitle {
  margin-bottom: 224px;
  color: var(--white-color);
  text-align: center;
  font-family: OpenSans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__desc {
  color: var(--white-color);
  text-align: center;
  font-family: OpenSans;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.7px;
  text-transform: uppercase;
}

.nav {
  margin-bottom: 59px;
  height: 65px;
  border: 1px solid #E6E6E6;
  background: var(--white-color);
}

.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__logo {
  width: 79.527px;
  height: 18px;
  margin-top: 24px;
}

.nav__flex {
  padding-top: 27px;
  width: 408px;
  display: flex;
  gap: 44px;
}

.nav__item {
  color: var(--textColor);
  font-family: OpenSans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.nav__link {}

.nav__link_active {
  color: var(--accent-color);
}

.about {
  margin-bottom: 120px;
}

.about__container {}

.about__title {
  /* padding: 30px 0; */
  color: var(--textColor);
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.about__title::after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: var(--accent-color);
  display: block;
  margin: 10px auto 0;
}

.about__flex {
  display: flex;
  justify-content: center;
}

.about__left {
  max-width: 398px;
  margin-right: 85px;
}

.about__subtitle {
  margin-bottom: 30px;
  margin-top: 1em;
  color: var(--textColor);
  font-weight: bold;
  font-size: 20px;
  line-height: 1.40;
}

.about__subtitle_accent {
  color: var(--accent-color);
}

.about__desc {
  /* margin-bottom: 1em;
  margin-top: 1em; */
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.188px;
}

.text {}

.about__right {
  display: flex;
  align-items: flex-end;
}

.about__item {
  padding: 15px;
  font-size: 24px;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  width: 140px;
  height: 224px;
  margin-right: 13px;
  background-size: cover;
}

.about__item:nth-child(1) {
  background-image: url(../images/bitmap.png);
}

.about__item:nth-child(2) {
  background-image: url(../images/bitmap1.png);
}

.about__item:nth-child(3) {
  background-image: url(../images/bitmap2.png);
}

.about__item:last-child {
  margin-right: 0;
}

.services {
  margin-bottom: 115px;
}

.services__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 78px;
}

.services__title {
  color: var(--textColor);
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2.306px;
  text-transform: uppercase;
}

.services__title::after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: var(--accent-color);
  display: block;
  margin: 10px 0 0;
}

.services__flex {
  width: 588px;
  display: flex;
  justify-content: space-between;
}

.services__desc {
  width: 406px;
}

.services__btn {
  width: 150px;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  padding: 6px 32px;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  
}

.services__item {
  padding: 38px 22px;
  border: 1px solid #E6E6E6;
}

.services__img {
  /* margin: 38px auto 25px 23px; */
  margin-bottom: 25px;
}

.service__subtitle {
  color: var(--textColor);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 13px;
}

.service__text {
  line-height: 23px; /* 176.923% */
letter-spacing: 0.188px;
}